<nav class="navbar navbar-expand-lg navbar-dark mb-2" style="background-color: #ffffff00;">
    <a class="navbar-brand" routerLink="/">Ancom</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user"><i class="fa fa-user-circle-o"></i> Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sign-in"><i class="fa fa-sign-in"></i> Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a routerLink="" class="fa fa-facebook" style="color: white; display: inline-block; margin: 10px 10px;"></a>
        </li>
        <li class="nav-item">
          <a routerLink=""><i class="fa fa-twitter" style="color: white; display: inline-block; margin: 10px 10px;"></i></a>
        </li>
        <li class="nav-item">
          <a routerLink=""><i class="fa fa-instagram" style="color: white; display: inline-block; margin: 10px 10px;"></i></a>
        </li>
        <li class="nav-item">
          <a routerLink=""><i class="fa fa-pinterest" style="color: white; display: inline-block; margin: 10px 10px;"></i></a>
        </li>
        <li class="nav-item">
          <a routerLink=""><i class="fa fa-linkedin" style="color: white; display: inline-block; margin: 10px 10px;"></i></a>
        </li>


      </ul>

    </div>
  </nav>
